@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: azure;
}
header {
    background-image: url("pic/cat3.jpg");
    width: 100%;
    min-height: 500px;
    background-color: gray;
    height: 800px;
    margin: 0 auto;
    display: table;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

nav {
    width: 100%;
    background-color: transparent;
    height: 80px;
    margin: 0;
    padding: 0;
    opacity: 0.9;
}
.nav1 {
    width: 80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
}

.logo {
    width: 20%;
    background-color: transparent;
    margin: 0;
}
.logo img {
    width: 100%;
}

.menu {
    width: 80%;
    background-color: transparent;
    margin: 0;
}

.menu1 {
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 20px 50px 20px 50px;
    text-transform: uppercase;
    margin: 0;
}

a {text-decoration: none;
    padding-right: 20px;
}


.menu1 a {
    color: white;
    opacity: 0.7;
}
.menu1 a:hover {
    color: white;
    opacity: 1;

}

a.login1 {
    border: 2px solid;
    border-color: white;
    background-color: transparent;
    padding: 5px 20px 5px 20px;
    border-radius: 3px;
    color: gray;
    opacity: 1;
}
a.login1:hover {
    color: black;
    background-color: white;
    opacity: 1;
}

.center {
    margin: 0 auto;
    width: 80%;
    min-height: 800px;
    background-color: transparent;
    display: table;
}


.centertext {
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
    background-color: transparent;
    padding-bottom: 40px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 100;
    color: black;
    margin: 5px;

}
.centertext h2, a {
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding: 5px;

}

.centertext a:hover {
    border: dotted white;
    border-radius: 5px;
    color: black;
    background-color: #ffffff;
}
p, main h1 {
    text-align: center;
    color: black;
    font-size: 2.8em;
    font-weight: 300;
    padding: 50px;
    margin: 0;
}
div.big-picture {
    text-align: center;
    background-image: url("img/cat2.jpg");
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}
div.big-picture span {
    color:white;
    font-weight: 600;
    font-size:8em;
    display: inline-block;
    margin: 300px 0 300px 0;
}
/*gallery!!!*/
div.boxone {
    padding: 0;
    margin: 0;
    text-align: center;
}

div.firstg {
    margin: 0 20px;
    display: inline-block;
    width: 20%;
    height: 300px;
    border: none;
    background-position: center top ;
    background-size: cover;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}
div.one {
    background-image: url("img/maine1.jpg");
}
div.two {
    background-image: url("img/maine2.jpg");
}
div.tree {
    background-image: url("img/maine3.jpg");
}
div.four {
    background-image: url("img/maine4.jpg");
}
div.firstg:hover    {
    box-shadow: 0 0 150px #000000;
    transform: scale(1.5);
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}
/*footer*/
footer {
    width: inherit;
    padding: 30px 0;
    margin-top: 30px;
    background: gainsboro;
    text-align: center;
}
div.foot {
    display: inline-block;

}
div.info {
    position: absolute;
    right: 30px;
    margin-top: -30px;


}









